body {
  background-color: #000000; }

.mainIput {
  height: 200px;
  width: 600px;
  background-color: #eeeeee;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.GetBox {
  min-height: 400px;
  width: 600px;
  background-color: #eeeeee;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px; }

.datadiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.Input {
  font-size: 20px;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  border: none; }

.addbtn {
  font-size: 20px;
  margin-left: 10px;
  outline: 1px solid green;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.1s; }
  .addbtn:hover {
    transform: translateY(-1px); }
  .addbtn:active {
    transform: translateY(0.5px); }

.Updatedata {
  font-size: 20px;
  margin-left: 10px;
  outline: none;
  border: none;
  outline: 1px solid green;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.2s; }
  .Updatedata:hover {
    transform: translateY(-1px); }
  .Updatedata:active {
    transform: translateY(0.5px); }

img {
  height: 25px;
  width: 25px;
  margin: 1px; }

.Update,
.delete {
  margin: 2.5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s; }
  .Update:hover,
  .delete:hover {
    transform: translateY(-1px); }
  .Update:active,
  .delete:active {
    transform: translateY(0.5px); }

.list {
  margin-right: 10px; }

.InputSublist {
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  outline: none; }

.addbtnSublist {
  border: none;
  outline: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, orangered, gray);
  padding: 5px 20px; }

.insertlistBox {
  margin-top: 10px;
  margin-left: 100px; }

.setSpanData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px; }

.datadiv {
  padding: 15px 0; }

.GetBox {
  text-align: center; }

.firstIndex {
  margin-top: 10px; }
