body {
  background-color: #000000;
}
.mainIput {
  height: 200px;
  width: 600px;
  background-color: #eeeeee;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.GetBox {
  min-height: 40px;
  width: 600px;
  background-color: #eeeeee;
  margin: 20px auto;
  border-radius: 10px;
  // display: flex;

  // justify-content: center;
  // align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
}
.datadiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Input {
  font-size: 20px;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  border: none;
  position: relative;
}
.addbtn {
  font-size: 20px;
  margin-left: 10px;
  outline: 1px solid rgb(70, 70, 5);
  border: none;
  //   background-color: orangered;

  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    // transform: translateY(-1px);
    background-color: rgb(94, 94, 9);
    color: white;
  }
  // &:active {
  //   transform: translateY(0.5px);
  // }
}

.Updatedata {
  font-size: 20px;
  margin-left: 10px;
  outline: none;
  border: none;
  //   background-color: orangered;
  outline: 1px solid green;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(0.5px);
  }
}

img {
  height: 25px;
  width: 25px;
  margin: 1px;
}
.Update,
.delete {
  margin: 2.5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(0.5px);
  }
}

.list {
  margin-right: 10px;
}
////////////////////////////////Sublist Style
///
.InputSublist {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.addbtnSublist {
  border: none;
  outline: 1px solid orange;
  border-radius: 10px;
  // background-image: linear-gradient(to right, orangered, gray);

  padding: 5px 20px;
  cursor: pointer;
}

.addbtnSublist:hover {
  background-color: orange;
  color: white;
}
.insertlistBox {
  margin-top: 10px;
  margin-left: 100px;
}

//////////////////////////////set span data

.setSpanData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
///////////////////////////////static text
// .staticText {
//   display: block;
// }
// .start {
//   display: none;
// }

// .end {
//   display: none;
// }

.datadiv {
  padding: 15px 0;
}

.GetBox {
  text-align: center;
}

.firstIndex {
  margin-top: 10px;
}

.errorchecker {
  position: absolute;
  top: 140px;
  left: 120px;
}

////////////////////////
.secondryHeading {
  text-align: center;
  color: #ffffff;
}
